<h2  style="text-align: center;">{{title}}</h2>
<div dir="rtl" class="example-card-div">
    <mat-card class="example-card" dir="ltr"> 
    <mat-card-header dir="rtl">
       <h2>
            אלף-בית
        </h2>

    </mat-card-header>
    <mat-card-content dir="rtl">
        <table>
            <tr>
                <td style="padding: 2vh;"><table><tr *ngFor="let ex of excersises | slice:0:6"><td>{{ex['ot']}}={{ex['ex']}}</td></tr></table></td>
                <td style="padding: 2vh;"><table><tr *ngFor="let ex of excersises | slice:6:12"><td>{{ex['ot']}}={{ex['ex']}}</td></tr></table></td>
                <td style="padding: 2vh;"><table><tr *ngFor="let ex of excersises | slice:12:18"><td>{{ex['ot']}}={{ex['ex']}}</td></tr></table></td>
                <td style="padding: 2vh;"><table><tr *ngFor="let ex of excersises | slice:18:24"><td>{{ex['ot']}}={{ex['ex']}}</td></tr></table></td>
                <td style="padding: 2vh;"><table><tr *ngFor="let ex of excersises | slice:24:30"><td>{{ex['ot']}}={{ex['ex']}}</td></tr></table></td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions dir="rtl" class="sizable"> 
        <button mat-raised-button dir="rtl">לייק</button>
      </mat-card-actions>
</mat-card>
</div>